<table border="1">
    <tr>
        <td>Id</td>
        <td>Username</td>
        <td>Email</td>
    </tr>
    {% for a in tabAuthors %}
    <tr>
        <td>{{a.id}}</td>
        <td>{{a.username}}</td>
        <td>{{a.email}}</td>
    </tr>
    {% endfor %}
</table>
<h1>Sort By username</h1>
<table border="1">
    <tr>
        <td>Id</td>
        <td>Username</td>
        <td>Email</td>
    </tr>
    {% for a in tabauthorsByUsername %}
        <tr>
            <td>{{a.id}}</td>
            <td>{{a.username}}</td>
            <td>{{a.email}}</td>
        </tr>
    {% endfor %}
</table>
