<h1 style="color: #fb9d1c">List Student</h1>
<a href="#">Add Student</a>
<table border="1">
    <tr>
        <td>NCE</td>
        <td>Username</td>
        <td>Email</td>
        <td>Action</td>
    </tr>
    {%for i in tabStudent %}
    <tr>
         <td>{{ i.nce }}</td>
        <td>{{ i.username }}</td>
        <td>{{ i.email }}</td>
        <td>
            <a href="{{ path('show',{"nce":i.nce}) }}">showMore</a>
            <a href="#">Update</a>
            <a href="{{ path('remove',{"nce":i.nce}) }}">Delete</a>
        </td>

    </tr>
    {% endfor %}
</table>




