{{ form(searchForm) }}
<table border="1">
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Category</td>
        <td>Published</td>
        <td>Date</td>
        <td>Actions</td>
    </tr>


{% for i in books %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.title }}</td>
        <td>{{ i.category }}</td>
        <td>{{ i.published }}</td>
        <td>{{ i.publicationDate|date }}</td>
        <td><a href="#">delete</a></td>
    </tr>

{% endfor %}
</table>