<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<h1>Liste des projets</h1>
{% set x = 10 %}
{{ x }}
{{ var1 }}/{{ var2 }}
<img src="{{ asset('img/symfony-logo.png') }}" alt="logo">
<h1>tab des formations</h1>
nbr de formation: {{ tabFormation|length }}
{#{% if  tabFormation|length == 0%}#}
    {% if tabFormation is empty %}
    <h6 style="color: #AA3333">pas e formation</h6>
{% else %}
<table border="1">
    <tr>
    <td>Ref</td>
    <td>Titre</td>
    <td>Description</td>
    <td>Nb-P</td>
        <td>show</td>
    </tr>
    {% for i in tabFormation %}
        <tr>
            <td>{{ i.ref }}</td>
            <td>{{ i.Titre|upper }}</td>
            <td>{{ i.Description }}</td>
            <td>{% if  i.nb_participants ==0 %}
                <a href="#">Participer</a>
                {% else %}{{i.nb_participants}}{% endif %}
             </td>
            <td><a href="{{ path('Formationshow') }}">show formation</a> </td>
        </tr>
    {% endfor %}
</table>
{% endif %}
