<h1>Add Classroom</h1>
{{ form(formulaireClassroom) }}

{#{{ form_start(formulaireClassroom) }}

{{ form_label(formulaireClassroom.id) }}
{{ form_errors(formulaireClassroom.id) }}
{{ form_widget(formulaireClassroom.id) }}

{{ form_label(formulaireClassroom.name) }}
{{ form_errors(formulaireClassroom.name) }}
{{ form_widget(formulaireClassroom.name) }}

{{ form_end(formulaireClassroom) }}#}
