{% for i in tabAuthors %}
    {{ i.id }}
    {{ i.username }}
    {{ i.email }}
    <br>
{% endfor %}


<h1>Sort Authors By username</h1>
{% for i in tabauthorsByUsername %}
    {{ i.id }}
    {{ i.username }}
    {{ i.email }}
    <br>
{% endfor %}

