<img src="{{asset('images/github.jpg') }}" alt="github">
<h1 style="color: red">List Formation de la classe {{ classe }}</h1>
{% for i in  tabFormation%}
 Ref:   {{ i.ref }}/
    Title: {{ i.Titre|upper }}/
    Description: {{ i.Description }}/
    <br>
{% endfor %}
Nbr de formation: {{ tabFormation|length }}
