<table border="1">
    <tr>
        <td>ref</td>
        <td>title</td>
        <td>published</td>
        <td>publicationDate</td>
        <td>category</td>
    </tr>
    {% for i in tabBooks %}
    <tr>
        <td>{{ i.ref }}</td>
        <td>{{ i.title}}</td>
        <td>{{ i.published }}</td>
        <td>{{ i.publicationDate |date }}</td>
        <td>{{ i.category }}</td>
    </tr>
    {% endfor %}
</table>

