<table border="1" align="center">
    <tr>
        <td>Ref</td>
        <td>Title</td>
        <td>Published</td>
        <td>PublicationDate</td>
        <td>Category</td>
        <td>Author</td>
        <td>Action</td>
    </tr>

    {% for book in tabBooks %}
        <tr>
            <td>{{ book.ref }}</td>
            <td>{{ book.title|upper }}</td>
            <td>{{ book.published }}</td>
            <td>{{ book.publicationDate|date }}</td>
            <td>{{ book.category }}</td>
            <td>{{ book.Author }}</td>
            <td><a href="#">Edit</a>
                <a href="#">Delete</a>
                <a href="#">Show</a></td>
        </tr>
    {% endfor %}
</table>
