<h1>List of Authors</h1>
<p>{{ x }}</p>
{% if tabAuthors is empty %}
<h1>The table is empty</h1>
{% else %}
<table border="1">
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Nbr_Books</th>
    </tr>

    {% for i in tabAuthors %}
        <tr>
      <td>{{ i.id }}</td>
       <td>{{ i.username }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.nb_books }}</td>
        </tr>
    {% endfor %}

</table>
{%endif%}




