<h1>List Classroom</h1>
<a href="{{ path('addClassroom') }}">Add a new classroom</a>
{% if tabclass is empty %}
<h4>Pas de classe</h4>
{% else %}
<table border="1">
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Description</td>
        <td>Action</td>
    </tr>


{% for classroom in tabclass %}
    <tr>
        <td>{{  classroom.id}}</td>
        <td>{{ classroom.title|upper }}</td>
        <td>{{ classroom.description }}</td>
        <td><a href="#">Show</a>
            <a href="{{ path('suppClassroom',{'id':classroom.id}) }}">Delete</a>
            <a href="{{ path('updateClassroom',{'id':classroom.id}) }}">Edit</a></td>
    </tr>
{% endfor %}
</table>
{% endif %}
Nb de classe: {{ tabclass|length }}
