{{ form(searchForm) }}
{% for s in students %}
    {{ s.nce }}/
    {{ s.username }}/
    {{ s.email }}/
    {{ s.classroom }}/
    <a href="{{ path('deleteStudent',{'nce':s.nce}) }}">remove</a>
    <br>
{% endfor %}
<h1 style="color: aqua">Order By Email</h1>
{% for s in studentsByMail %}
    {{ s.nce }}/
    {{ s.username }}/
    {{ s.email }}/
    {{ s.classroom }}/
    <a href="{{ path('deleteStudent',{'nce':s.nce}) }}">remove</a>
    <br>
{% endfor %}

<h1 style="color: red">Excellent Students</h1>
{% for s in studentsByMoyenne %}
    {{ s.nce }}/
    {{ s.username }}/
    {{ s.email }}/
    {{ s.classroom }}/
    <a href="{{ path('deleteStudent',{'nce':s.nce}) }}">remove</a>
    <br>
{% endfor %}

