<h1>List of Authors</h1>
{% set x = 0 %}
{% if  tabAuthors is empty%}
<h1>Tab vide</h1>
{% else %}
<table border="1">
    <tr>
        <th>Id</th>
        <th>username</th>
        <th>Email</th>
        <th>Nb Books</th>
        <th>Action</th>
    </tr>
    {% for i in tabAuthors %}
        <tr>
            <td>{{ i.id }}</td>
            <td> {{ i.username|upper }}</td>
            <td>{{ i.email }}</td>
            <td> {{ i.nb_books }}</td>
            <td> <a href="{{ path('author_details', {'id': author.id}) }}">Show more +</a></td>
            {% set  x= x+i.nb_books   %}
        </tr>
    {% endfor %}
</table>
{% endif %}
<h3>Nb_Authors: {{ tabAuthors|length }}</h3>
<h3>Nb_books: {{ x }}</h3>
<img src="{{ asset('img/symfonylive.jpg') }}"
     alt="" height="100px" width="100px">

<h1>List of Authors</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>username</th>
        <th>Email</th>
        <th>Nb Books</th>
        <th>Action</th>
    </tr>
    {% for i in authorsByEmail %}
        <tr>
            <td>{{ i.id }}</td>
            <td> {{ i.username|upper }}</td>
            <td>{{ i.email }}</td>
            <td> {{ i.nb_books }}</td>
        </tr>
    {% endfor %}
</table>
