<h1>Liste des Publicite En Ligne</h1>

<table border="1">
    <tr>
        <td>Id</td>
        <td>titre</td>
        <td>dateDebut</td>
        <td>type</td>
        <td>produit</td>
    </tr>


    {% for p in tabPubliciteEnLigne %}
        <tr>
            <td> {{ p.id }}</td>
            <td>  {{ p.titre|upper }}</td>
            <td>  {{ p.dateDebut|date }}</td>
            <td> {{ p.type }}</td>
            <td> {{ p.produit }}</td>
        </tr>
    {% endfor %}
</table>

<h1>Liste des Publicite Televisee</h1>

<table border="1">
    <tr>
        <td>Id</td>
        <td>titre</td>
        <td>dateDebut</td>
        <td>type</td>
        <td>produit</td>
    </tr>
    {% for p in tabPubliciteTelevisee %}
        <tr>
            <td>  {{ p.id }}</td>
            <td> {{ p.titre|upper }}</td>
            <td> {{ p.dateDebut|date }}</td>
            <td> {{ p.type }}</td>
            <td> {{ p.produit }}</td>
        </tr>
    {% endfor %}
</table>

<h1>Liste des Publicite Radiodiffusee</h1>

<table border="1">
    <tr>
        <td>Id</td>
        <td>titre</td>
        <td>dateDebut</td>
        <td>type</td>
        <td>produit</td>
    </tr>


    {% for p in tabPubliciteRadiodiffusee %}
        <tr>
            <td> {{ p.id }}</td>
            <td> {{ p.titre|upper }}</td>
            <td> {{ p.dateDebut|date }}</td>
            <td> {{ p.type }}</td>
            <td> {{ p.produit }}</td>
        </tr>
    {% endfor %}
</table>