<a href="{{ path('ajoutClub') }}">Add Club</a>
<br>
{% for club in tabClub %}
    Id: {{ club.id }}
    name:{{ club.Club }}
    Description:{{ club.description }}
    <a href="{{ path('showClub',{'id':club.id}) }}">Show More</a>
    <a href="{{ path('removeClub',{'id':club.id}) }}">Delete</a>
    <a href="{{ path('editClub',{'id':club.id}) }}">Update</a>

    <br>
{% endfor %}
